@model EduServer.Models.lecture_at

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>lecture_at</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.time_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
