@model EduServer.Models.hall

@{
    ViewBag.Title = "تفاصيل قاعة";
}

<h2>تفاصيل</h2>

<div>
    <h4>قاعة</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("تعديل", "Edit", new { id = Model.id }) |
    @Html.ActionLink("الرجوع للقائمة", "Index")
</p>
